{% load static %}

<head>
    <link rel="stylesheet" href="https://cdn.acwing.com/static/jquery-ui-dist/jquery-ui.min.css">
    <script src="https://cdn.acwing.com/static/jquery/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
</head>

<body style="margin: 0">
    <div id="ac_game_12345678">
        <audio preload autoplay loop id="music">
             <source src="/static/audio/playground/playground_music.mp3" type="audio/mpeg">
        </audio>
        <script type="text/javascript">
            window.onload = function () {
                setInterval("toggleSound()", 1);
            }

        function toggleSound() {
                var music = document.getElementById("music");//获取ID  
                if (music.paused) { //判读是否播放  
                        music.paused = false;
                        music.play(); //没有就播放 
                    }
            }
        </script>
    </div>
    <script type="module">
        import {AcGame} from "{% static 'js/dist/game.js' %}";
        $(document).ready(function(){
            let ac_game = new AcGame("ac_game_12345678");
        });
    </script>
</body>

